@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #d0dada;
    color: #0f141e;
    
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto',
    sans-serif;
}

a {
    color: #757575;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: rgb(161, 182, 187);
}

.container {
    /* background-color: blue; */

    width: 100%;
    margin: auto;
    padding-top: 20px;
}

.main-header {
    text-align: center;

    font-size: 100px;
    font-weight: 900;
}

.meme-pics-group1 {
    background-color: green;
    display: flex;

    margin: auto;
    
    width: 1000px;
    max-width: 90%;
    min-width: 500px;
    
    text-align: center;
}

.SB_funny_pic_container {
    margin: auto;

    width: 1000px;
    max-width: 90%;
    min-width: 500px;

    text-align: center;
}

.SB_funny_pic_container img {
    float: left;

    max-width: 48%;
    height: auto;

    padding: 1%;
}

.sleepy_kitty_pic_container {
    margin: auto;
    
    width: 1000px;
    max-width: 90%;
    min-width: 500px;
    
    text-align: center;
}

.sleepy_kitty_pic_container img {
    float: left;

    max-width: 48%;
    height: auto;

    padding: 1%;
}

.cheese_face_pic_container {
    margin: auto;
    
    width: 1000px;
    max-width: 90%;
    min-width: 500px;
    
    text-align: center;
}

.cheese_face_pic_container img {
    float: left;
    
    max-width: 48%;
    height: auto;
    
    padding: 1%;
}

.joke-container {
    background-color: red;
    
    margin: auto;
    
    width: 1000px;
    max-width: 90%;
    min-width: 500px;
}

.joke-header {
    background-color: cyan;

    text-align: center;
    letter-spacing: 1em;
    font-size: 400%;
    font-weight: 900;
}

.joke-body {
    display: flex;

    max-width: 90%;
    max-height: 90%;
}

.zadornov-gif {
    border-radius: 20px;

    max-width: 48%;
    height: 48%;

    padding: 1%;
}

.joke-text {
    background-color: #757575;

    padding: 10px;
    border-radius: 12px;

    font-size: 18px;
    font-weight: 100;
}

.video-link-container {
    background-color: blue;
    border-radius: 12px;
    margin: 20px auto;
    padding: 10px;

    text-align: center;
    font-size: 50px;

    max-width: 90%;
    height: 90%;
}